* {box-sizing: border-box;}

/* colors */
:root {
  --blue: #2D9CDB;
  --grey: #E5E5E5;
}


body {
  padding: 5%;
  background: var(--grey);

  font-family: sans-serif;
}

.siteWrap {
  min-width: 600px;
  max-width: 600px;
  min-height: 700px;
  max-height: 1000px;
  border-radius: 5px;
  margin: auto;
  background: white;
  padding: 3rem;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.inputSectionWrap {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.toggleAllButton {
  width: fit-content;
}

.todoInput {
  width: 100%;
  font-size: 2rem;
}

.todoItem {
  list-style: none;
}

.displayButtonsWrap {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
}

.true {
  text-decoration-line: line-through;
}

.todoDeleteButton {
  background: url(images/close_icon.svg);
  width: 2rem;
  height: 2rem;
}

/* state styling */
.hiding {
  background: red;
}

.hide { display: none; }
